{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block body %}
<div id="task-card">
    <button type="button" class="btn btn-secondary" id="exit-modal-btn">x</button>
    <h2>{{ task.getTask() }}</h2>
    <h5>{{ task.getStatus() }}</h5>
    <div id="tags">
        {% for tag in task.getTags() %}
            <h5 id="tag">{{ tag }}</h5>
        {% endfor %}
    </div>
    <h5>{{ task.getDuedate() }}</h5>
    <p>{{ task.getNotes() }}</p>
</div>
{% endblock %}
